@use "../../App.scss" as *;
@use "../../partials/function.scss" as *;
@use "../../partials/reset.scss" as *;
@use "../../partials/fonts.scss" as *;
@use "../../partials/variables.scss" as *;

.input {
  &-all {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &-applications {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: toRem(16);
  }

  &-results {
    display: flex;
    flex-wrap: wrap;
    margin-left: toRem(24);
  }

  &-postit {
    background-color: #ffc;
    margin-right: toRem(40);
    margin-top: toRem(16);
    margin-bottom: toRem(18);
    padding: toRem(8) toRem(12);
    height: 12rem;
    width: 12rem;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transform: rotate(-6deg);
    &:nth-child(even) {
      transform: rotate(4deg);
      position: relative;
      top: 5px;
    }
    &:nth-child(3n) {
      transform: rotate(-2deg);
      position: relative;
      top: -5px;
    }
    &:nth-child(5n) {
      transform: rotate(4deg);
      position: relative;
      top: -3px;
    }
    &:hover {
      box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
      transform: scale(1.25);
      position: relative;
      z-index: 5;
      cursor: pointer;
    }
    &:focus {
      box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
      transform: scale(1.25);
      position: relative;
      z-index: 5;
      cursor: pointer;
    }
  }
  &-container {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #a0a0a0;
    border-radius: 8px;
    margin-left: toRem(16);
    margin-top: toRem(16);
    padding-bottom: toRem(16);
    color: #0a0a0a;
    background-color: #fffaf1;

    & input {
      font-size: toRem(14);
      padding: toRem(4) toRem(8);
      color: #0a0a0a;
      background-color: aliceblue;
      border: 1px solid gray;
      border-radius: 3px;
      &:focus {
        border: 2px solid #5aab61;
        outline: none;
        border-radius: 3px;
      }
    }

    & label {
      font-size: toRem(16);
      padding-bottom: toRem(4);
      margin-top: toRem(12);
    }

    & textarea {
      resize: none;
      height: toRem(80);
      width: toRem(168);
      font-size: toRem(14);
      padding: toRem(4) toRem(8);
      color: #0a0a0a;
      background-color: aliceblue;
      border: 1px solid gray;
      border-radius: 3px;
      &:focus {
        border: 2px solid #5aab61;
        outline: none;
        border-radius: 3px;
      }
    }

    & button {
      font-size: toRem(14);
      width: toRem(60);
      padding: toRem(3) toRem(0);
      margin-top: toRem(12);
      border-radius: 3px;
      border: 1px solid gray;

      color: #0a0a0a;
      background-color: aliceblue;

      &:hover {
        cursor: pointer;
        border: 2px solid gray;
      }
    }
  }

  &-date {
    width: toRem(170);
  }

  &-count {
    font-size: toRem(18);
    margin-top: toRem(10);
  }
  &-buttons {
    display: flex;
    flex-direction: column;
  }

  &-hideshowbtn {
    padding: toRem(6);
    border-radius: 3px;
    border: 1.75px solid #a0a0a0;
    cursor: pointer;
    font-weight: bold;
    color: #0a0a0a;
    &:hover {
      background-color: aliceblue;
      border: 2px solid #a0a0a0;
    }
  }
}
