@use "../../App.scss" as *;
@use "../../partials/function.scss" as *;
@use "../../partials/reset.scss" as *;

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: toRem(12);
  padding-bottom: toRem(12);
  background-color: aliceblue;
}

.header-title {
  font-size: toRem(30);
  text-align: center;
  margin-left: toRem(10);
}

.header-logo {
  width: toRem(30);
}
