@use "../../App.scss" as *;
@use "../../partials/function.scss" as *;
@use "../../partials/reset.scss" as *;
@use "../../partials/fonts.scss" as *;
@use "../../partials/variables.scss" as *;

.edit {
  &-all {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.75);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    & input {
      font-size: toRem(14);
      padding: toRem(4) toRem(8);
      color: #0a0a0a;
      background-color: aliceblue;
      border: 1px solid gray;
      border-radius: 3px;
      &:focus {
        border: 2px solid #5aab61;
        outline: none;
        border-radius: 3px;
      }
    }

    & label {
      font-size: toRem(15);
      padding-bottom: toRem(2);
      margin-top: toRem(8);
    }

    & textarea {
      resize: none;
      height: toRem(300);
      width: toRem(375);
      font-size: toRem(14);
      padding: toRem(4) toRem(8);
      color: #0a0a0a;
      background-color: aliceblue;
      border: 1px solid gray;
      border-radius: 3px;
      &:focus {
        border: 2px solid #5aab61;
        outline: none;
        border-radius: 3px;
      }
    }

    & button {
      font-size: toRem(14);
      width: toRem(60);
      padding: toRem(3) toRem(0);
      margin-top: toRem(12);
      border-radius: 3px;
      border: 1px solid gray;

      color: #0a0a0a;
      background-color: aliceblue;

      &:hover {
        cursor: pointer;
        border: 2px solid gray;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 485px;
    border-radius: 12px;
    background-color: #fffaf1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }

  &-date {
    height: 7rem;
  }
}
